@import "tailwindcss";

@theme {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-tertiary: "Cinzel", serif;
  --font-fourthery: "Outfit", sans-serif;
  --breakpoint-xsm: 380px;
  --breakpoint-xsmd: 480px;
  --breakpoint-mdx: 540px;
  --breakpoint-mdxl: 800px;
  --breakpoint-lgmd: 840px;
  --breakpoint-xlmd: 912px;
  --breakpoint-xllg: 1130px;
  --color-primary: #f97316;
  --color-secondary: #2f312a;
  --color-tertiary: #0b0c2a;
  --color-fouthery: #062d16;
  --color-rating: #ffdf00;
}
